{% extends 'base.html' %}
{% block head %}{% endblock %}

{% block body %}
    <style>
        body {background-image:linear-gradient(rgba(16, 29, 74, 0.5),rgba(13, 36, 62, 0.8)), url("{{ url_for('static', filename='images/edit_image.jpg')}}");}   
    </style>
    <div class="edit hidden">
        <div class="expense">
            <p class="expense_name">{{ expense.name }} </p>
            <p class="desc">{{ expense.info }} </p>
        </div>
        <form class='expense_form' action="{{ url_for(request.endpoint, id=id, username=username, expense_id=expense_id) }}", method="POST", autocomplete="off">
            {{ form.csrf_token }}
            <div class="name">
                <div>New name</div> 
                <div>{{ form.name(class='user_input') }}</div>
            </div>
            <div class="new_desc">
                <div>New description</div>
                <div>{{ form.description(class='user_input', rows='5') }}</div>
            </div>
            <div>{{ form.submit(class='button') }}</div>
        </form>
        {% if msg|length > 0 %}
            <p id="msg">{{ msg }}!</p>
        {% endif %}
        <button class="button" id="return"><a href="{{ url_for('dashboard', id=id, username=username) }}">Return to dashboard</a></button>
    </div>



{% endblock %}